*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    background-color: rgb(26, 26, 46);
}
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
button{
    cursor: pointer;
    transition: all 0.3s ease;
}
input{
    outline: none;
}
a{
    text-decoration: none;
}